:host {
    display: flex;
}

.user-message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #74b0ad;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    margin-left: auto;
    margin-right: 16px;
    margin-bottom: 16px;
}

.timestamp {
    display: block;
    font-size: 12px;
    color: #9e9e9e;
    margin-top: 5px;
    text-align: right;
}

.user-message .timestamp {
    color: #e0e0e0;
}