:host {
    display: block;
}

#chat-fab {
    width: 56px;
    height: 56px;
    background-color: #74b0ad;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#chat-fab:hover {
    background-color: #679d9a;
    /* Darker shade on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    /* Larger shadow on hover */
}