:host {
    display: flex;
}

.bot-message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
    color: #212121;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    margin-left: 16px;
    margin-bottom: 16px;
}

.bot-message .message-controls {
    display: flex;
    margin-top: 5px;
    justify-content: end;
}

.bot-message .feedback-button,
.bot-message .speech-to-text-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
}

.bot-message .feedback-button:hover,
.bot-message .speech-to-text-button:hover {
    color: #000;
}


.timestamp {
    display: block;
    font-size: 12px;
    color: #9e9e9e;
    margin-top: 5px;
    text-align: right;
}

typing-indicator {
    display: inline-block;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #999;
    border-radius: 50%;
    animation: dot-blink 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dot-blink {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}