:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 4px;
}

.chat-logs {
    display: flex;
    overflow-y: auto;
    max-height: 100%;
    flex-direction: column;
}