:host {
    display: block;
}

html,
body {
    background: #efefef;
    height: 100%;
}

.logo {
    height: 48px;
    width: 48px;
}

/* Main chat box */
.chat-box {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom: 48px;
    right: 48px;
}

.focused {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.unfocused {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}


/* Header of the chat box */
.chat-box-header {
    background-color: #39436a;
    /* Material Design primary color */
    color: white;
    padding: 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}

.section-messages {
    display: flex;
    flex-grow: 1;
    padding: 0;
    overflow: hidden;
    background-color: #f1f3f4;
}

/* Close button */
.chat-box-toggle {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.chat-box-toggle:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* Subtle hover effect */
}

.icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.status-message {
    background-color: #f1f3f4;
    display: block;
    font-size: 12px;
    color: #9e9e9e;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}